{{ define "header" }}
<!-- Page Header -->
<style type="text/css">
    div.intro-background {
        background-image: url('{{ if .Params.image }}{{ .Params.image | relURL }}{{ else }}{{ .Site.Params.header_image | relURL}}{{ end }}')
    }
</style>
{{ if eq .Params.headerstyle "text" }}
<header class="intro-header style-text" >
{{ else }}
<header class="intro-header" >
{{ end }}
    <div class="intro-background">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                    <div class="site-heading">
                        <h1>{{ .Title }} </h1>
                        <!--<hr class="small">-->
                        <h2 class="subheading">{{ .Params.subtitle }}</h2>
		                <!-- <span class="subheading">{{ .Site.Params.slogan }}</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ $paginator := .Paginate (where .Data.Pages "Section" "posts") }}
{{ partial "posts.html" . }}
