{{ define "main" }}
<!-- Page Header -->
{{ $imagePath := .Site.Params.image_404 | relURL }}

{{ $isJPG := eq (path.Ext $imagePath) ".jpg" }}
{{ $isPNG := eq (path.Ext $imagePath) ".png" }}
{{ $isJPEG := eq (path.Ext $imagePath) ".jpeg" }}

{{ if or (or $isJPG $isPNG) $isJPEG }}
    {{ $avifPath:= replace (replace $imagePath "/img/" "/img_avif/") (path.Ext $imagePath) ".avif" }}
    {{ $webpPath:= replace (replace $imagePath "/img/" "/img_webp/") (path.Ext $imagePath) ".webp" }}
    {{ $avifPathStatic:= printf "static/%s" $avifPath }}
    {{ $webpPathStatic:= printf "static/%s" $webpPath }}
    <style type="text/css">
        .fallback header.intro-header {
            url('{{ $imagePath }}')
        }
    
        {{ if (fileExists $webpPathStatic) }}
        .webp header.intro-header {
            url('{{ $webpPath }}')
        }
        {{ end }}
    
        {{ if (fileExists $webpPathStatic) }}
        .avif header.intro-header {
            url('{{ $avifPath }}')
        }
        {{ end }}
    </style>
{{ else }}
    <style type="text/css">
        header.intro-header {
			background-image: url('{{ $imagePath | relURL }}')
        }
    </style>
{{ end }}
<header class="intro-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading" id="tag-heading">
					<h1>404</h1>
					<span class="subheading">{{ .Site.Params.title_404 }}</span>
				</div>
			</div>
		</div>
	</div>
</header>

<script>
	document.body.classList.add('page-fullscreen');
</script>
{{ end }}
